.creditkey a {
    text-decoration: none !important;
    line-height: 24px;
    text-align: center;
}
.creditkey a:hover {
    cursor: pointer !important;
    text-decoration: underline !important;
}
.creditkey .ck-modal.is-active {
    position: fixed;
}
.creditkey #money {
    color: #3D9CE5 !important;
}

#pdp-modal,
#pdp-no-modal,
#pdp-button-modal,
#pdp-button-no-modal {
    margin-top: 10px;
}
.payment_method_credit_key label {
    display: flex !important;
    align-items: center;
}
.payment_method_credit_key label img {
    max-height: unset !important;
    height: 24px !important;
}